name: Python Tests

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests on Xvfb
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb herbstluftwm libgl1 libxcb-xinerama0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-render-util0 libxcb-xkb1 libxkbcommon-x11-0 qt6-qpa-plugins libqt6widgets6 libqt6gui6
          xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" pytest -v
